<form method="POST">
<h2>Please Sign Below!</h2>
<canvas id="canvas"></canvas>
<input name="signature" id="hidden" type="hidden" >
{{#unless validSig}}
    {{> error}}
{{/unless}}
<button id="submit">Sign Petition</button>
</form>
<script src="/script.js"></script>




{{!-- OLD PETITION PAGE --}}

{{!-- <div class="textWrapper">
<h1>Help us to free Skateaparks from Scooters! 🛴</h1>
<h3 id="infoText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat impedit dolorem blanditiis eveniet dignissimos saepe est, modi itaque odio corporis eius cumque eligendi ad, delectus non ducimus minus id dicta.</h3>
</div>
<form  method="POST" >

<input name="firstName" type="text" id="firstName" placeholder="First Name">
<input name="lastName" type="text" id="lastName" placeholder="Last Name">
<canvas id="canvas"></canvas>
<input name="signature" id="hidden" type="hidden" >
{{#unless validInfo}}
    {{> error}}
{{/unless}}
<button id="submit">Sign Petition</button>
</form>

<script src="/script.js"></script>
 --}}


{{!-- Two text input fields for the user’s first and last name
A rectangle canvas element for signing
A button for submitting these values --}}