
<div class="profileInput">
   

    <form  method="POST">
         <h2> Your Profil Page</h2>
    <input name="age" type="number" placeholder="Enter your age">
<input name="city" type="text" placeholder="Enter your city">
<input name="url" type="text" placeholder="Website URL">
<button>CONTINUE</button>
<a id="edit" href="/profile/edit">EDIT PROFILE</a>

</div>
</form>
<form action="/petition" method="POST">

{{!-- <button id="skip">SKIP</button> --}}


</form>
{{> logout}}
{{#if error}}
    {{> error}}
{{/if}}
