
<div class="registerpage">
<div class="infowrapper">
    <h1 id="heading">BANN ALL SCOOTERS FROM SKATEPARKS

    </h1>
    <p id="infotext">Everyone knows the struggle,<br> you are at the park for a sess with the boys and the whole park is packed with scooter kids. <br> 
    This petition is dedicated to change this! <br>
    For SCOOTER-FREE Parks! 
    
</p>

</div>
<div class="registerfields">
   
    <form  method="POST">
    <div class="formWrapper"></div>
    <input name="firstname" type="text" id="firstname" placeholder="First Name">
    <input name="lastname" type="text" id="lastname" placeholder="Last Name">
    <input name="email" type="email" id="email" placeholder="Email">
    <input name="password" type="password" id="password" placeholder="Password">

    <a href="/login">Login</a>
    <button>Register</button>
    {{#unless validInfo}}
        {{> error}}
    {{/unless}}
</form>
</div>
</div>

