<h2>Please REGISTER before signing the petition</h2>
<form  method="POST">
<div class="formWrapper"></div>
<input name="firstName" type="text" id="firstName" placeholder="First Name">
<input name="lastName" type="text" id="lastName" placeholder="Last Name">
<input name="email" type="text" id="email" placeholder="Email">
<input name="password" type="text" id="password" placeholder="Password">


<button>Register</button>
{{#unless validInfo}}
    {{> error}}
{{/unless}}
</form>
<a href="/login">Login</a>

