<form method="POST">
<h2>Please Sign Below!</h2>
<canvas id="canvas"></canvas>
<input name="signature" id="hidden" type="hidden" >

<button id="submit">Sign Petition</button>

</form>
<script src="/script.js"></script>