<form method="POST">
<h2>Please Sign Below!</h2>
<canvas id="canvas"></canvas>
<input name="signature" id="hidden" type="hidden" >

<button id="submit">Sign Petition</button>
<a id="edit" href="/profile/edit">EDIT PROFILE</a>
{{!-- {{#unless error}}
    {{> error}}
{{/unless}} --}}
<a id="edit" href="/profile/edit">EDIT PROFILE</a>

</form>
<form id="logout" method="POST" action="/login">
<Button> Logout</Button>
</form>
<script src="/script.js"></script>